.products{
    margin-bottom: 50px;
    overflow-x: hidden;
    width: 100%;
    &__content{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    &__item{
        width: calc(16.6666% - 17px);
        border-radius: 40px;
        @include media(992){
            width: calc(20% - 16px);
        }
        @include media(768){
            width: calc(33.333% - 14px);
        }
        @include media(576){
            width: calc(50% - 14px);
        }
        img{
            width: 100%;
        }
    }
}
.categories{
    margin-bottom: 40px;
    padding-bottom: 10px;
    overflow-x: scroll;
    @include media(576){
        row-gap: 8px;
        padding-left: 15px;
        padding-right: 15px;
        width: calc(100% + 30px);
        margin-left: -15px;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &__wrapper{
        display: flex;
        width: max-content;
        column-gap: 8px;
        &:not(:last-child){
            margin-bottom: 17px;
            @include media(576){
                margin-bottom: 8px;
            }
        }
    }
    &__item{
        font-size: 14px;
        line-height: 16px;
        color: #828282;
        padding: 8px 16px;
        border: 1px solid #FC5C12;
        box-sizing: border-box;
        border-radius: 32px;
        transition: 200ms ease;
        @include media(576){
            padding: 4px 8px;
        }
        &.active{
            color: #FFFFFF;
            background: #FC5C12;
        }
    }
}