*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Montserrat', sans-serif;
  &:focus,&:active{
    outline: none;
  }
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: #FC5C12;
    border: 1px solid #fff;
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #FC5C12;
  }
  ::-webkit-scrollbar-track {
    background: #fff;
  }
}
button{
  font-family: inherit;
  cursor: pointer;
  background: none;
  border: none;
}
input{
  font-family: inherit;
  border: none;
  background: none;
}
a{
  text-decoration: none;
}
p{
  margin-bottom: 0;
}
a{
  color: #FC5C12 !important;
}
.bg-primary{
  background: #FC5C12 !important;
}
.border-primary{
  border: 1px solid #FC5C12 !important;
}
.text-secondary{
  color: #4F4F4F;
}
.fw-900{
  font-weight: 900;
}
.fw-800{
  font-weight: 800;
}
.fw-700{
  font-weight: 700;
}
.fw-600{
  font-weight: 600;
}
.fw-500{
  font-weight: 500;
}
.fw-400{
  font-weight: 400;
}
.fw-300{
  font-weight: 300;
}
.fw-200{
  font-weight: 200;
}
.fw-100{
  font-weight: 100;
}