mixin footer()
    footer.footer.bg-light.py-5
        .footer__body.container
            .row
                .col-12.col-lg-4.d-flex.flex-column.mb-5.mb-lg-0
                    a(href="index.html" title="home").footer__logo 
                        img(src="images/logo.png", alt="")
                    a(href="tel:+79780609222").footer__tel.text-decoration-none.text-secondary.fw-700
                        img(src="images/tel.svg", alt="" draggable="false").mr-3
                        | +7 978 060 9 222
                    .footer__tel.d-flex.pt-4  
                        img(src="images/time.svg", alt="" class="mr-3")
                        .header__tel-list 
                            small.d-flex Время работы
                            a(href="#!").text-decoration-none.fw-700 с 10:00 до 22:00
                    .footer__social.py-4
                        a(href="#!" target="_blank" title="wk") 
                            img(src="images/wk.png", alt="")
                        a(href="#!" target="_blank" title="facebook").px-3 
                            img(src="images/facebook.png", alt="")
                        a(href="#!" target="_blank" title="instagram") 
                            img(src="images/instagram.png", alt="")
                    p.footer__p Информация
                    .offer__buttons.pt-4 
                        a(href="#!" title="app store").offer__btn 
                            img(src="images/appstore.png", alt="" draggable="false") 
                        a(href="#!" title="google play").offer__btn 
                            img(src="images/googleplay.png", alt="" draggable="false") 
                .col-12.col-lg-4.d-flex.flex-column.align-items-lg-center.align-items-start.mb-5.mb-lg-0
                    p.footer__title Наши рестораны
                    img(src="images/footer-1.png", alt="").mb-4
                    img(src="images/footer-2.png", alt="").mb-4
                    img(src="images/footer-3.png", alt="").mb-4
                    img(src="images/footer-4.png", alt="").mb-4
                .col-12.col-lg-4
                    p.footer__title НАШЕ МЕНЮ
                    .row 
                        ul.col-6.footer__list
                            li.footer__li Акции
                            li.footer__li FOOD BOX
                            li.footer__li Комбо
                            li.footer__li Пицца
                            li.footer__li Бургеры
                            li.footer__li Хачапури
                            li.footer__li Мясо
                            li.footer__li Рыба и море
                            li.footer__li Салаты
                        ul.col-6.footer__list
                            li.footer__li Обеды
                            li.footer__li Супы
                            li.footer__li Гарниры
                            li.footer__li Закуски 
                            li.footer__li и аппетайзеры
                            li.footer__li Соусы
                            li.footer__li Десерты
                            li.footer__li Напитки
                            li.footer__li Салаты