mixin offer()
    .offer 
        .offer__body.container
            .offer__img
                img(src="images/offer.png", alt="")
            .offer__content 
                h2.offer__title Скачивайте наше приложение
                p.offer__p Дарим большую пиццу Пепперони на первый заказ из приложения
                .offer__buttons 
                    a(href="#!" title="app store").offer__btn 
                        img(src="images/appstore.png", alt="" draggable="false") 
                    a(href="#!" title="google play").offer__btn 
                        img(src="images/googleplay.png", alt="" draggable="false") 