mixin products()
    .products 
        .products__body.container 
            .categories 
                .categories__wrapper
                    button(type='button').categories__item Акции
                    button(type='button').categories__item.active FOOD BOX
                    button(type='button').categories__item Комбо
                    button(type='button').categories__item Пицца
                    button(type='button').categories__item Бургеры
                    button(type='button').categories__item Хачапури
                    button(type='button').categories__item Мясо
                    button(type='button').categories__item Рыба и море
                    button(type='button').categories__item Салаты
                    button(type='button').categories__item Десерты
                .categories__wrapper
                    button(type='button').categories__item Напитки
                    button(type='button').categories__item Обеды
                    button(type='button').categories__item Супы
                    button(type='button').categories__item Гарниры
                    button(type='button').categories__item Закуски и аппетайзеры
                    button(type='button').categories__item Соусы
                    button(type='button').categories__item Десерты
                    button(type='button').categories__item Напитки
                    button(type='button').categories__item Салаты
            .products__content
                .products__item
                    img(src="images/product-1.png", alt="" draggable="false").products__item-img
                .products__item
                    img(src="images/product-2.png", alt="" draggable="false").products__item-img
                .products__item
                    img(src="images/product-3.png", alt="" draggable="false").products__item-img
                .products__item
                    img(src="images/product-4.png", alt="" draggable="false").products__item-img
                .products__item
                    img(src="images/product-1.png", alt="" draggable="false").products__item-img
                .products__item
                    img(src="images/product-2.png", alt="" draggable="false").products__item-img
                .products__item
                    img(src="images/product-3.png", alt="" draggable="false").products__item-img
                .products__item
                    img(src="images/product-4.png", alt="" draggable="false").products__item-img
                .products__item
                    img(src="images/product-1.png", alt="" draggable="false").products__item-img
                .products__item
                    img(src="images/product-2.png", alt="" draggable="false").products__item-img
                .products__item
                    img(src="images/product-3.png", alt="" draggable="false").products__item-img
                .products__item
                    img(src="images/product-4.png", alt="" draggable="false").products__item-img
                .products__item
                    img(src="images/product-1.png", alt="" draggable="false").products__item-img
                .products__item
                    img(src="images/product-2.png", alt="" draggable="false").products__item-img
                .products__item
                    img(src="images/product-3.png", alt="" draggable="false").products__item-img
                .products__item
                    img(src="images/product-4.png", alt="" draggable="false").products__item-img
                .products__item
                    img(src="images/product-1.png", alt="" draggable="false").products__item-img
                .products__item
                    img(src="images/product-2.png", alt="" draggable="false").products__item-img
                .products__item
                    img(src="images/product-3.png", alt="" draggable="false").products__item-img
                .products__item
                    img(src="images/product-4.png", alt="" draggable="false").products__item-img
                .products__item
                    img(src="images/product-1.png", alt="" draggable="false").products__item-img
                .products__item
                    img(src="images/product-2.png", alt="" draggable="false").products__item-img
                .products__item
                    img(src="images/product-3.png", alt="" draggable="false").products__item-img
                .products__item
                    img(src="images/product-4.png", alt="" draggable="false").products__item-img