mixin slider()
    .slider
        .slider__body.container 
            .swiper.slider__content     
                .swiper-wrapper     
                    .swiper-slide   
                        img(src="images/slide.png", alt="" draggable="false").w-100
                    .swiper-slide   
                        img(src="images/slide.png", alt="" draggable="false").w-100
                    .swiper-slide   
                        img(src="images/slide.png", alt="" draggable="false").w-100
                .swiper-pagination